/* Common */
.body__container {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
}

/* Button */
.btn--primary {
    width: 335px;
    height: 70px;
    background: #7287ae;
    border: none;
    border-radius: 35px;
    color: #fff;
    font-size: 18px;
    letter-spacing: .4em;
}

/* Section & inner */
.section {
    position: relative;
}
.section .inner {
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/* Float & Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}


/* Header */
header {
    background: #7287ae;
}
header .inner {
    height: 144px;
}
header .logo {
    display: block;
    width: 300px;
    height: 50px;
    background: url("../img/logo_main.png") no-repeat;
    text-indent: -9999px;
    position: absolute;
    top: 47px;
    left: 0;
}
header .main-menu {
    display: flex;
    align-items: center;
    height: 100%;
}
header .main-menu li {
    margin-left: 50px;
}
header .main-menu li a {
    padding-bottom: 7px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
header .main-menu li a:hover {
    border-bottom: 2px dashed #fff;
}


/* Main Visual */
.main-visual {
    height: 500px;
    background: #7287ae;
    text-align: center;
}
.main-visual h2 {
    padding: 60px 0;
    color: #fff;
    font-size: 75px;
    font-weight: 500;
}
.main-visual p {
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 1.5em;
}
.main-visual .bg-visual1 {
    width: 90px;
    height: 190px;
    background: url("../img/white_dots_vertical.png") no-repeat;
    position: absolute;
    top: 200px;
    right: 0;
}
.main-visual .bg-visual2 {
    width: 190px;
    height: 120px;
    background: url("../img/white_dots_horizontal.png") no-repeat;
    position: absolute;
    bottom: -65px;
    left: 10%;
    z-index: 1;
}


/* Popular Menu */
.popular-menu {
    background: #e3ecc2;
}
.popular-menu .inner {
    height: 900px;
    text-align: center;
}
.popular-menu h1 {
    padding: 80px 0 0 0;
    color: #7287ae;
    font-size: 35px;
    font-weight: bold;
}
.popular-menu ul {
    display: flex;
    justify-content: space-between;
    margin: 60px 20px;
}
.popular-menu ul li {

}
.popular-menu ul li .pic {
    width: 300px;
    height: 280px;
    text-indent: -9999px;
}
.popular-menu ul li .pic1 {
    background: url("../img/best_menu_1.png") no-repeat center/cover;
}
.popular-menu ul li .pic2 {
    background: url("../img/best_menu_2.png") no-repeat center/cover;
}
.popular-menu ul li .pic3 {
    background: url("../img/best_menu_3.png") no-repeat center/cover;
}
.popular-menu ul li .description {
    width: 300px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    color: #504f4f;
    font-size: 25px;
    text-align: start;
    line-height: 1.25;
}
.popular-menu ul li .description h2 {
    font-weight: bold;
}
.popular-menu ul li .description p { 
    margin: 1em 0;
    font-family: Lato, 'sans-serif';
    font-size: 18px;
}
.popular-menu ul li .description span { 
    display: inline-block;
    font-weight: bold;
}
.popular-menu .btn--primary {

} 
.popular-menu .bg-visual {
    width: 140px;
    height: 110px;
    background: url("../img/blue_dots_16.png") no-repeat;
    position: absolute;
    right: 0;
    bottom: 70px;
}


/* Promotion */
.promotion {
    background: #fff;
}
.promotion .inner {
    display: grid;
    height: 1000px;
}
.promotion ul {

}
.promotion ul li {
    display: flex;
}
.promotion ul li div {
    width: 50%;
    height: 500px;
}
.promotion ul li .pic {
    text-indent: -9999px;
}
.promotion ul li .pic1 {
    background: url("../img/promo_img_1.png") no-repeat center/cover;
    order: -1;
}
.promotion ul li .pic2 {
    background: url("../img/promo_img_2.png") no-repeat center/cover;
    order: 1;
}
.promotion ul li .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    color: #504f4f;
    line-height: 1.3;
}
.promotion ul li .description h2 {
    font-size: 35px;
    font-weight: bold;
}
.promotion ul li .description p {
    margin: 1.2em 0;
    font-size: 23px;
}
.promotion ul li .description .btn--primary {
    margin: 1em auto;
}
.promotion .bg-visual {
    width: 190px;
    height: 110px;
    background: url("../img/blue_dots_20.png") no-repeat;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}