/* Common */
.body__container {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* Section & inner */
.section {
    position: relative;
}
.section .inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

/* Float & Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* Button */
.btn--primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 70px;
    background: #7287ae;
    border: none;
    border-radius: 35px;
    color: #fff;
    font-size: 18px;
    letter-spacing: .4em;
    cursor: pointer;
}

/* Dots */
.white-15 {
    width: 90px;
    height: 190px;
    background: url("../img/white_dots_15.png") no-repeat;
    background-size: contain;
}
.white-20 {
    width: 190px;
    height: 120px;
    background: url("../img/white_dots_20.png") no-repeat;
    background-size: contain;
}
.blue-16 {
    width: 140px;
    height: 110px;
    background: url("../img/blue_dots_16.png") no-repeat;
    background-size: contain;
}
.blue-20 {
    width: 190px;
    height: 110px;
    background: url("../img/blue_dots_20.png") no-repeat;
    background-size: contain;
}


/* Header */
header {
    background: #7287ae;
}
header .inner {
    height: 100px;
}
header .logo {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 20px;
}
header .logo a {
    display: block;
    height: 100%;
    background: url("../img/logo_main.png") no-repeat;
    text-indent: -9999px;
}
header .main-menu {
    display: flex;
    align-items: center;
    height: 100%;
}
header .main-menu li {
    margin-left: 50px;
}
header .main-menu li a {
    padding-bottom: 7px;
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}
header .main-menu li a:hover {
    border-bottom: 2px dashed #fff;
}
#toggle-btn {
    display: none;
    width: 50px;
    height: 50px;
    background: url("../img/toggle_btn.svg") no-repeat;
    background-size: contain;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


/* Main Visual */
.main-visual {
    height: 500px;
    background: #7287ae;
    text-align: center;
}
.main-visual h2 {
    padding: 60px 0;
    color: #fff;
    font-size: 75px;
    font-weight: 500;
}
.main-visual p {
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
    font-size: 25px;
    line-height: 1.5em;
}
.main-visual .white-15 {
    position: absolute;
    top: 200px;
    right: 0;
}
.main-visual .white-20 {
    position: absolute;
    bottom: -65px;
    left: 10%;
    z-index: 1;
}


/* Popular Menu */
.popular-menu {
    background: #e3ecc2;
}
.popular-menu .inner {
    height: 830px;
    text-align: center;
}
.popular-menu h1 {
    padding: 80px 0 60px;
    color: #7287ae;
    font-size: 35px;
    font-weight: bold;
}
.popular-menu ul {
    display: flex;
    justify-content: space-between;
}
.popular-menu ul li {

}
.popular-menu ul li img {
    display: block;
    width: 280px;
    height: 260px;
}
.popular-menu ul li .description {
    width: 280px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    color: #504f4f;
    font-size: 25px;
    text-align: start;
    line-height: 1.25;
}
.popular-menu ul li .description h2 {
    font-weight: bold;
}
.popular-menu ul li .description p { 
    margin: 1em 0;
    font-size: 18px;
}
.popular-menu ul li .description span { 
    display: inline-block;
    font-weight: bold;
}
.popular-menu .btn--primary {
    margin: 60px 0;
} 
.popular-menu .blue-16 {
    position: absolute;
    right: 0;
    bottom: 50px;
}


/* Promotion */
.promotion {
    background: #fff;
}
.promotion .inner {
    display: flex;
    height: 1000px;
    padding: 0;
    /* 이거 inner가 필요 없어 보임. ul로 끝내도 되었을 듯 */
}
.promotion ul {

}
.promotion ul li {
    display: flex;
}
.promotion ul li div {
    width: 50%;
    height: 500px;
}
.promotion ul li .pic {
    text-indent: -9999px;
}
.promotion ul li .pic1 {
    background: url("../img/promo_img_1.png") no-repeat center/cover;
    order: -1;
}
.promotion ul li .pic2 {
    background: url("../img/promo_img_2.png") no-repeat center/cover;
    order: 1;
}
.promotion ul li .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    color: #504f4f;
    line-height: 1.3;
}
.promotion ul li .description h2 {
    font-size: 35px;
    font-weight: bold;
}
.promotion ul li .description p {
    margin: 1.2em 0;
    font-size: 23px;
}
.promotion ul li .description .btn--primary {
    margin: 1em auto;
}
.promotion .blue-20 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.promotion .white-20 {
    position: absolute;
    bottom: 0;
    right: 15%;
    transform: translate(50%, 50%);
    z-index: 1;
}


/* Order Procedure */
.order-procedure {
    background: #7287ae;
}
.order-procedure .inner {
    height: 580px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.order-procedure h1 {
    padding: 80px 0 30px;
    font-size: 35px;
}
.order-procedure ol {
    display: flex;
    justify-content: space-between;
}
.order-procedure ol li {

}
.order-procedure ol li div {
    width: 104px;
    height: 104px;
    margin: 50px auto;
    padding: 33px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 50%;
    color: #7287ae;
    font-size: 35px;
    vertical-align: center;
}
.order-procedure ol li h2 {
    margin-bottom: 30px;
    font-size: 32px;
}
.order-procedure ol li p {
    width: 270px;
    margin: 0 20px 70px;
    font-size: 16px;
    line-height: 1.3;
}


/* Delivery */
.delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 580px;
    background: url("../img/bg_img_1.png") no-repeat bottom/cover;
    color: #7287ae;
    text-align: center;
}
.delivery h1 {
    font-size: 60px;
    font-weight: bold;
}
.delivery p {
    max-width: 720px;
    margin: 60px auto;
    font-size: 23px;
    line-height: 1.3;
}
.delivery .btn--primary {
    margin: 0 auto;
}
.delivery .blue-20 {
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translateY(50%);
    z-index: 1;
}


/* Contect */
.contect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    background: #e3ecc2;
    color: #7287ae;
}
.contect .quote {
    width: 70px;
    height: 50px;
    background: url("../img/quotes.png") no-repeat;
    background-size: contain;
    text-indent: -9999px;
}
.contect p {
    max-width: 900px;
    margin: 40px 20px;
    font-size: 28px;
    text-align: center;
    line-height: 1.5;
}
.contect span {
    font-size: 32px;
    font-weight: bold;
}
.contect .logo-box {
    margin-top: 70px;
}
.contect .logo-box .logo {
    display: inline-block;
    width: 67px;
    height: 67px;
    margin-right: 30px;
}
.contect .logo-box .logo:last-child {
    margin-right: 0;
}
.contect .logo-box .facebook {
    background: url("../img/logo_facebook.png") no-repeat;
}
.contect .logo-box .twitter {
    background: url("../img/logo_twitter.png") no-repeat;
}
.contect .logo-box .instagram {
    background: url("../img/logo_instagram.png") no-repeat;
}
.contect .blue-20 {
    position: absolute;
    bottom: 10px;
    left: 10%;
}


/* Footer */
footer {
    background: #7287ae;
    color: #fff;
}
footer .inner {
    height: 340px;
}
footer .about-box {
    display: flex;
    margin-top: 90px;
}
footer .about-box div {
    margin-left: 100px;
}
footer .about-box div:first-child {
    margin-left: 0;
}
footer .about-box div h1 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}
footer .about-box div ul {

}
footer .about-box div ul li {
    margin-bottom: 14px;
}
footer .about-box div ul li a {
    color: #fff;
    font-weight: 300;
}
footer .copyright-box {
    width: 50%;
    margin-top: 90px;
}
footer .copyright-box h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}
footer .copyright-box a {
    display: block;
    margin-bottom: 14px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}